<<<<<<< HEAD
.discover-section {
    padding: 120px 60px;
    text-align: left;
}

h2{
  color:white;
}
.search-container {
    margin: 30px auto;
    max-width: 500px;
}

#searchInput {
    width: 100%;
    padding: 14px 20px;
    border-radius: 40px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.filter-container {
    margin: 30px 0;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    background: white;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: linear-gradient(90deg, #60A5FA, #2DD4BF);
    color: white;
    border: none;
}

#placesGrid .card{
    aspect-ratio: 4 / 3;
    /*height: 280px;*/
    border-radius: 20px;
    background-size: cover;
    background-position: 27% center;
    position: relative;
    overflow: hidden;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 80px;
    justify-content: start;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

body {
    position: relative;
    background-image: url("../assets/images/more_places.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* adjust darkness */
    z-index: -1;
=======
.discover-section {
    padding: 120px 60px;
    text-align: left;
}

h2{
  color:white;
}
.search-container {
    margin: 30px auto;
    max-width: 500px;
}

#searchInput {
    width: 100%;
    padding: 14px 20px;
    border-radius: 40px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.filter-container {
    margin: 30px 0;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    background: white;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: linear-gradient(90deg, #60A5FA, #2DD4BF);
    color: white;
    border: none;
}

#placesGrid .card{
    aspect-ratio: 4 / 3;
    /*height: 280px;*/
    border-radius: 20px;
    background-size: cover;
    background-position: 27% center;
    position: relative;
    overflow: hidden;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 80px;
    justify-content: start;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

body {
    position: relative;
    background-image: url("../assets/images/more_places.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* adjust darkness */
    z-index: -1;
>>>>>>> b6a5b3b24e7725cf7d4769c96e1ea1385c9646bb
}